 * {
     box-sizing: border-box;
     text-align: center;
     margin: 0;

 }

 body {
     line-height: 1.5;
 }

 main {
     background-image: linear-gradient(to right, rgb(209, 207, 207), rgb(221, 252, 186));
 }

 header {
     width: 100%;
     height: 80px;
 }

 #name {
     width: 100%;
     height: 40px;
 }

 h2 {
     font-size: 14px;
 }

 nav {
     position: relative;
     border-top: 1px solid black;
     border-bottom: 1px solid black;
     margin: 0;
 }

 nav,
 footer {
     width: 100%;
     height: 50px;
     background: white;
 }

 footer {
     position: relative;
     margin-top: 250px;
     height: 50px;
     clear: both;

 }

 h1 {
     font-size: 30px;

 }

 h1 span {
     color: rgb(253, 16, 8);
     font-size: 40px;
     font-weight: bold;
     font-family: 'Kaushan Script', cursive;
 }

 #email,
 #bio,
 #content {
     display: none;
 }

 .hidden {
     display: none;
 }


 nav ul {
     list-style-type: none;
     padding: 10px 0 0 0;
     overflow: hidden;
     border: none;
 }
.top-bar{
    padding: 15px 0 0 18px;
}
 .top-bar li {
     display: inline;
     text-orientation: inherit;
     text-align: center;
     font-size: 16px;
     font-family: 'Orbitron', sans-serif;
     margin: 12px 30px 0 0;
     text-decoration: none;
     color: rgb(253, 16, 8);

 }

 .top-bar li a {
     text-decoration: none;
     color: rgb(253, 16, 8);

 }

 .about p {
     font-size: 16px;
     text-align: left;
 }

 .about {
     font-size: 16px;
     font-family: 'Orbitron', sans-serif;
     line-height: 1.5;
     padding: 30px 0 0 0;
     text-align: left;
     width: 85%;
     height: auto;
     margin:auto;

 }

 li:hover {
     cursor: pointer;
 }

 #projects {
     width: 100%;
     height: auto;
     margin: 20px 0 20px 0;
     font-family: 'Orbitron', sans-serif;
     font-size: 14px;
     padding:5px;
 }

 .bio {
     font-size: 18px;

 }

 .mpage {
     font-size: 20px;
     margin-bottom: 8px;
     margin-left: 20px;

 }

 img {
     width: 300px;
     height: 300px;
     cursor: grab;
 }

 .tech-list {
     font-size: 12px;
 }

 .haq {
     color: black;

 }

 .haq p {
     text-align: left;
     padding: 10px;
 }


 .tech-list {
     display: inline-block;
     padding: 0;
     height: 84px;
     list-style-type: none;

 }

 .horizontal {
     padding-left: 66px;
     margin: 0;
     text-align: left;
 }

 .tech-list li {
     font-size: 14px;
     text-align: initial;
 }

 #references {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     margin-top: 20px;
 }

 #references a {
     text-decoration: none;
     color: rgb(253, 16, 8);
 }
.currentPro1 img:hover{
    cursor: default;
}

#about-me{
    padding:3%;
}
.information{
    font-size: 13px;
    padding:1%;
}
 @media screen and (min-width:405px) {


     .top-bar {
         display: flex;
         justify-content: space-around;
         padding: 0 0 10px 0;
     }

     li.bio {
         margin: 8px 0;
         font-size: 24px;
     }

     .fas,
     .fab {
         font-size: 28px;
     }
     h1{
         padding: 10px 0 0 30px;
     }

     #name{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #name h2{
        margin-right: 10px;
        padding: 30px 0;
        font-size: 16px;
    }

     img {
         width: 350px;
         height: 350px;
     }
     #projects h2{
         font-size: 25px;
     }

     p {
         font-size: 19px;
     }

     .about {
         width: 80%;
         height: auto;
         margin: auto;
         font-size: 17px;
         padding: 35px 10px 5px 10px;

     }

     h3{
         font-size: 25px;
     }

 }
 @media screen and (min-width:655px){
     h1{
         font-size: 40px;
         
     }
     .fas,
     .fab {
         font-size: 35px;
     }
     h1 span {
         font-size: 50px;
     }
     #name{
         display: flex;
         flex-direction: row;
         justify-content: space-between;
     }
     #name h2{
         margin-right: 100px;
         padding: 30px 0;
         font-size: 18px;
     }
     img{
         width:600px;
         height: 600px;
     }
     
     #projects h2{
        font-size: 30px;
    }
    #about-me{
        padding:5%
    }

     .about{
        width: 75%;
        height: auto;
        margin: auto;
        font-size: 19px;
        padding: 40px 15px 10px 15px;
     }
     .information {
        width: 75%;
        height: auto;
        margin: auto; 
        font-size: 16px;
    }

    .information li{
        font-size: 20px;
    }
    h3{
        font-size: 30px;
    }
 }
 @media screen and (min-width:839px){
    h1{
        font-size: 40px;
        
    }
    .fas,
    .fab {
        font-size: 38px;
    }
    h1 span {
        font-size: 50px;
    }
    #name{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #name h2{
        margin-right: 100px;
        padding: 30px 0;
        font-size: 18px;
    }
    img{
        width:600px;
        height: 600px;
    }
    
    #projects h2{
       font-size: 30px;
   }

    .about{
       width: 70%;
       height: auto;
       margin: auto;
       font-size: 20px;
       padding: 55px 40px 5px 40px;
    }
    .information {
       width: 90%;
       height: auto;
       font-size: 20px;
       
   }

   
   .information li{
       font-size: 16px;
   }
   h3{
       font-size: 35px;
   }
}
@media screen and (min-width:1100px){
    h1{
        font-size: 40px;
        
    }
    .fas,
    .fab {
        font-size: 35px;
    }
    #about-me{
        padding:6%;
    }
    h1 span {
        font-size: 50px;
    }
    #name{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #name h2{
        margin-right: 100px;
        padding: 30px 0;
        font-size: 18px;
    }
    img{
        width:600px;
        height: 600px;
    }
    
    #projects h2{
       font-size: 30px;
   }

    .about{
       width: 75%;
       height: 100%;
       margin: auto;
       font-size: 24px;
       padding: 60px 40px 12px 40px;
    }
    .information {
       width: 65%;
       height: auto;
       margin: auto;
       font-size: 24px; 
   }

   
   .information li{
       font-size: 18px;
   }
   h3{
       font-size: 35px;
   }
}